.modal-header
  %h3.modal-title
    {{ selectedGame.title }}

.modal-body
  %img.image-responsive.center-block(ng-src="{{selectedGame.image}}")

  .well
    {{ selectedGame.description }}

  .container-fluid
    .col-sm-6.text-center
      .btn.btn-lg.btn-primary(ng-click="play()")
        Zagraj!

    .col-sm-6.text-center
      .btn.btn-lg.btn-warning(ng-click="close()")
        Wróć