.container.game-list
  .row(ng-repeat="gameRow in rows")
    %div(ng-repeat="game in gameRow" class="col-sm-{{ gameItemSize }}" ng-click="showGameDetails(game)")
      .panel.panel-default
        .panel-body
          %img.img-responsive.center-block(ng-src="{{game.image}}")

        .panel-footer.text-center
          {{ game.title }}
