.game-details-modal
  .popup-header
    %h3.modal-title.title
      {{ selectedGame.title }}

  .popup-body
    %img.image-responsive.center-block(ng-src="{{selectedGame.image}}")

    .description
      {{ selectedGame.description }}

    .container-fluid
      .col-sm-6.text-center
        %a.btn-standard(ng-href="#/games/{{ selectedGame.id }}")
          %i.fa.fa-play
          Zagraj
          

      .col-sm-6.text-center
        .btn-standard(ng-click="close()")
          %i.fa.fa-arrow-left
          Wróć
          
