%div.popup-wrapper
  %div(ng-include src="'#{asset_path('templates/popup.html')}'")
%header
  %a.open-popup(ng-click="openPopup()")
    %i.fa.fa-bars
  %ul
    %li(ng-repeat="category in categories" ng-class="currentCategory ==  $index ? 'active' : ''" )
      %a(ng-click="switchCategory()" id="{{$index}}")
        {{category.name}}
        %i.fa.fa-volume-up(ng-click="playSound()")
        
%article.tile-items
  %section.tile-item(ng-repeat="tile in tiles" )
    %img(src="{{tile.image_uri}}")
    
%article.placeholders
  %section.placeholder
  %section.placeholder
  %section.placeholder
  %section.placeholder
  %section.placeholder
  %section.placeholder
