%div.popup-wrapper
  %div(ng-include src="'#{asset_path('templates/popup.html')}'")
%header
  %a.open-popup(ng-click="openPopup = !openPopup" my-open="openPopup")
    %i.fa.fa-bars
  %ul
    %li(ng-repeat="category in categories" ng-class="currentCategory ==  $index ? 'active' : ''" )
      %a.read-text.btn-standard(ng-click="switchCategory()" id="{{$index}}")
        {{category.name}}
        %i.fa.fa-volume-up(ng-click="playSound()")


%article.categories
  %article.tile-items(ng-repeat="category in categories" data-id="{{category.id}}"  ng-class="currentCategory ==  $index ? 'onTop' : ''")
    %section.tile-item(ng-repeat="tile in category.tiles" data-id="{{tile.id}}")
      %a{class: 'close'} X
      %img(ng-src="{{tile.image_uri}}")

%article.placeholders
  %section.placeholder
  %section.placeholder
  %section.placeholder
  %section.placeholder
  %section.placeholder
  %section.placeholder
  %section.placeholder

%a.finish-game(ng-click="finishGame()")
  %i.fa.fa-check

%div.popup-ratings
  %div(ng-include src="'#{asset_path('templates/rating.html')}'")
