%div.task-popup
  %a.close-popup{ href: "#" }
    %i.fa.fa-times
  %h1
    Polecenie
  %div.task
    %p
      Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
      %a.sound
        %i.fa.fa-volume-up
   
   