%div.task-popup
  %a.close-popup(ng-click="closePopup()")
    %i.fa.fa-times
  %h1
    Polecenie
  %div.task
    %p.task-text.read-text
      {{description}}
      %a.sound(ng-click="playSound()")
        %i.fa.fa-volume-up
