%div.rating-popup
  %a.close-popup(ng-click="closePopup()")
    %i.fa.fa-times
  %section.rating
    %p.star
      %i.fa.fa-star
    %p.star
      %i.fa.fa-star
    %p.star
      %i.fa.fa-star
    %p.star
      %i.fa.fa-star
    %p.star
      %i.fa.fa-star
    