%div.rating-popup
  %a.close-popup(ng-click="closePopupRating()")
    %i.fa.fa-times
  %section.rating.text-center
    %p.star.active(ng-repeat="r in ratingStars")
      %i.fa.fa-star

  %section.rating-btns
    %a.play-again(ng-click="playAgain()")
      %i.fa.fa-refresh
      Zagraj ponownie
    
    %a.close-game(ng-click="closeGame()")
      %i.fa.fa-times
      Zakończ
    
    