// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

@import "fonts.less";
@import "variables.less";
@import "mixins.less";

html,body {
    font-family: 'GothamRnd-Bold';
    .size(100%,100%);
    background: @main-bg;
    overflow: hidden;
}

.main-container {
    width: 100%;
    padding: 0;
}

header {
    position: relative;
    .open-popup {
        position: absolute;
        top: 0;
        left: 0;
        .size(70px,70px);
        .border-radius(50%);
        background: @pink;
        margin: 20px;
        i{
            font-size: 24px;
            color: @white;
            padding: 23px 24px;
            &:hover {
                color: @white;
            }
        }
    }
   ul {
        background: @second-bg;
        .size(100%,120px);
        text-align: center;
       li {
            display: inline-block;
            .size(150px,50px);
           
            margin: 30px 20px;
       }
        a {
            font-family: 'GothamRnd-Bold';
            font-size: 2em;
            .size(150px,50px);
             display: inline-block;
            background: @btn-primary;
            color: @white;
            .border-radius(150px);
            padding: 5px 0;
            &.active {
                background: @active-btn;
            }
        }
    }
}