@main-bg: #2d2c3e;
@second-bg: #23232e;

@tile-bg: #674172;

@pink: #ff264a;
@btn-primary: #3e3d53;
@active-btn: #ffa200;
@white: #fff;

@black: #000;

@dark-pink-txt: #b81833;

@yellow: #ffa200;